{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="col-md-6 offset-md-3" id="landing">
    {% if user.is_authenticated %}
    <h3 id="welcome-text">Welcome {{user.username}}, what's your plan today?</h3>
    {% else %}
    <h3 id="welcome-text">Welcome, what's your plan today?</h3>
    {% endif %}
    <br/>
    <div class="row row-cols-1 row-cols-md-3 g-4" id="features">
        <div class="col">
        <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1634621388881-cb328098136d?auto=format&fit=crop&q=80&w=1780&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Collections</h5>
            <p class="card-text">Checks our newest books here!!</p>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'home' %}" type="button">Click me!</a>
            {% else %}
            <button class="btn btn-primary" data-bs-toggle="modal" type="button" data-bs-target="#exampleModal">Click me!</button>
            {% endif %}
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1634621388881-cb328098136d?auto=format&fit=crop&q=80&w=1780&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Book Shelf</h5>
            <p class="card-text">Rearranges your own collections!!</p>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'home' %}" type="button">Click me!</a>
            {% else %}
            <button class="btn btn-primary" data-bs-toggle="modal" type="button" data-bs-target="#exampleModal">Click me!</button>
            {% endif %}
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1634621388881-cb328098136d?auto=format&fit=crop&q=80&w=1780&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Book Reviews</h5>
            <p class="card-text">Reviews it to gain scores!!</p>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'show_review_page' %}" type="button">Click me!</a>
            {% else %}
            <button class="btn btn-primary" data-bs-toggle="modal" type="button" data-bs-target="#exampleModal">Click me!</button>
            {% endif %}
            </div>
        </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1634621388881-cb328098136d?auto=format&fit=crop&q=80&w=1780&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book Loans</h5>
                <p class="card-text">Get your own favorite books!!</p>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'show_loans_page' %}" type="button">Click me!</a>
                {% else %}
                <button class="btn btn-primary" data-bs-toggle="modal" type="button" data-bs-target="#exampleModal">Click me!</button>
                {% endif %}
            </div>
            </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1634621388881-cb328098136d?auto=format&fit=crop&q=80&w=1780&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Book Request</h5>
            <p class="card-text">Nothing interested here? request it ASAP!!</p>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'show_request_page' %}" type="button">Click me!</a>
            {% else %}
            <button class="btn btn-primary" data-bs-toggle="modal" type="button" data-bs-target="#exampleModal">Click me!</button>
            {% endif %}
            </div>
        </div>
        </div>
    </div>
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div><h1 class="modal-title fs-5" id="exampleModalLabel">Welcome back!</h1></div>
                <div><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
            <div class="modal-body">
                <form id="form" method="POST" action="{% url 'home' %}" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="input-user" name="username", placeholder="Username" required oninput="toggleSubmit()"></input>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="input-pass" name="password", placeholder="Password" required oninput="toggleSubmit()"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <div class="flash-message text-center">
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}   

                </div>   -->
                <div>
                    Don't have an account yet? <a href="{% url 'register' %}" class="reg-link">Register Here</a>
                    <div class="flash-message text-center">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}   
                    </div>       
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="login-btn" data-bs-dismiss="modal" disabled onclick="login()">Login</button>
            </div>
        </div>
    </div>
</div>

<script>

    async function refreshUser() {
        console.log("helloerror")
        fetch("{% url 'user_home' %}").then(location.reload())
    }

    function toggleSubmit() {
        const inputUser = document.getElementById('input-user');
        const inputPass = document.getElementById('input-pass')
        const submitButton = document.getElementById('login-btn');
        if (inputUser.value.trim() === '' || inputPass.value.trim() === '') {
            submitButton.setAttribute('disabled', 'disabled');
        } else {
            submitButton.removeAttribute('disabled');
        }
    }

    function login() {
        console.log("hello");
        fetch("{% url 'login' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshUser)
        
        document.getElementById("form").reset()
        return false
    }

    

</script>

{% endblock content %}