{% load static %}

<style>
  .nav-link{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
</style>
<nav class="navbar navbar-expand-lg nav1" style="background-color: #ffffff; gap:40px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/Logo1.png' %}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-direction: row-reverse;">
      <div class="d-flex justify-content-end align-items-center gap-4">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/collection/">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_request_page' %}">Book Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_review_page' %}">Book Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_loans_page' %}">Book Loans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'userprofile' %}">Account</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          {% if user.is_authenticated %}
          <div class="dropdown d-flex gap-4">
            <a class="btn btn-outline-danger" type="submit" href="{% url 'logout' %}">Logout</a>
          </div> 
          {% else %}
          <button class="btn btn-outline-success me-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
          <a class="btn btn-outline-info" type="submit" href="{% url 'register' %}" style="color: #00A9FF;text-align: center;font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;">Register</a>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</nav>

