{% extends 'base.html' %}

{% load static %}

{% include 'navbar.html' %}

{% block content %}

    <style>
        #book_card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
        .card-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

    </style>
        <div class="col-lg-7 offset-lg-2 mt-5">

            <h1 class="display-2">Choose one book to review</h1>

            <!-- KATALOG -->
            <div class='row' id="book_card"></div>
        </div>
        

    <!-- <div class="modal fade" id="reviewByWidget" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Review</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                            <label class="form-check-label" for="is_recommended">Have you read this book?</label>
                            <div class="btn-group" data-toggle="buttons">
                                <button type="button" class="btn btn-primary" id="start-review" data-bs-dismiss="modal">Yes</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            
                            </div>                       
                         </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add_review_btn" data-bs-dismiss="modal">Add Review</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->


    <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Review Sheet</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="card-text font-weight-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);" id="reviewModalTitle"></h5>
                    <div class="image-container-modal">
                        <img id="reviewModalCover" alt="Book Cover" style="width: 106px; height: 160px;">
                    </div>
                    <p class="card-text" id="reviewModalAuthor"></p>
                    <p class="btn bg-primary" id="reviewModalYear"></p>
                    <small class="text-muted" id="reviewModalISBN"></small>
                    <small class="text-muted" id="reviewModalBookId"></small>
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="rating">Book Ratings</label>
                            <input type="number" class="form-control" id="rating" name="rating" step="0.1" min="0" max="5" required>
                        </div>
                        <div class="form-group mb-3">
                            <p>What are your thoughts about this book?</p>
                            <textarea class="form-control" id="book_review_desc" name="book_review_desc" required></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <p>Would you recommend this book?</p>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <input type="radio" name="is_recommended" value="yes" checked> Yes
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="is_recommended" value="no"> No
                                </label>
                            </div>                       
                         </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add_review_btn" data-bs-dismiss="modal">Add Review</button>
                </div>
            </div>
        </div>
    </div>

        <!-- Notification Modal -->
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">Notification</h5>
            </div>
            <div class="modal-body" id="notificationMessage">
            </div>
            <a href="{% url 'reviews:back_to_main' %}" class="btn btn-primary">OK</a>

        </div>
        </div>
    </div>
    
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>


    <script>
         async function getBooks() {
            return fetch("{% url 'reviews:get_book_json' %}").then((res) => res.json())
        }

    async function openReviewModalWithBookData(bookTitle, bookAuthor, bookYear, bookISBN, bookCoverURL, bookId) {
        document.getElementById('reviewModalBookId').value = bookId;
        document.getElementById('reviewModalTitle').textContent = bookTitle;
        document.getElementById('reviewModalCover').src = bookCoverURL;
        document.getElementById('reviewModalAuthor').textContent = bookAuthor;
        document.getElementById('reviewModalYear').textContent = bookYear;
        document.getElementById('reviewModalISBN').textContent = "ISBN : " + bookISBN;
        $('#reviewModal').modal('show');
    }

    const placeholderImageUrl = "{% static 'BLANK.png' %}";

    async function refreshBookCards() {
        document.getElementById("book_card").innerHTML = "";
        const books = await getBooks();
        let htmlString = ` <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">`;

        books.forEach((book) => {
            const bookImageUrl = getBookImageUrl(book);
            htmlString += `
                <div class="col mb-4">
                    <div class="shadow mb-3 bg-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">${book.fields.title}</h5>
                                <div class="image-container ">
                                    <img src="${bookImageUrl}" alt="Book Cover" style="width: 106px; height: 160px;">
                                </div>
                                <p class="card-text">${book.fields.author}</p>
                                <p class="btn bg-primary">${book.fields.year}</p>

                                <button
                                    type="button"
                                    class="btn btn-primary review-button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#reviewModal"
                                    data-book-title="${book.fields.title}"
                                    data-book-cover="${bookImageUrl}"
                                    data-book-author="${book.fields.author}"
                                    data-book-year="${book.fields.year}"
                                    data-book-ISBN="${book.fields.ISBN}"
                                    data-book-id="${book.pk}"
                                >
                                    Review this Book
                                </button>

                                <div class="card-footer">
                                    <small class="text-muted">ISBN ${book.fields.ISBN}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                `;
        });

        htmlString += `</div>`;
        document.getElementById("book_card").innerHTML = htmlString;

        const reviewButtons = document.querySelectorAll('.review-button');
        reviewButtons.forEach((button) => {
            button.addEventListener('click', function () {
                const bookTitle = this.getAttribute('data-book-title');
                const bookCoverURL = this.getAttribute('data-book-cover');
                const bookAuthor = this.getAttribute('data-book-author');
                const bookYear = this.getAttribute('data-book-year');
                const bookISBN = this.getAttribute('data-book-ISBN');
                const bookId = this.getAttribute('data-book-id');

                openReviewModalWithBookData(bookTitle, bookAuthor, bookYear, bookISBN, bookCoverURL, bookId);
            });
        });
    }
    refreshBookCards()

    function getBookImageUrl(book) {

        const imageUrl = book.fields.image_m;

        const img = new Image();

        img.src = imageUrl;

        img.onload = function () {
            if (img.width <= 5 || img.height <= 5) {
                img.src = placeholderImageUrl;
            }
         };

        return img.src;
    }

    async function addReview() {
        const bookId = document.getElementById('reviewModalBookId').value;
        const data = new FormData(document.querySelector('#form'));
        data.append('book_id', bookId); 

        fetch("{% url 'reviews:add_review_ajax' %}", {
                method: "POST",
                body: data
            }).then((response) => {
                if (response.status === 201) {
                    displayNotification('Your review has been successfully added!');
                    refreshBookCards();
                    document.getElementById("form").reset();
                } else {
                    displayNotification('Failed to add review :( Please try again.');
                }
                })
                .catch((error) => {
                    displayNotification('An error occurred. Please try again.');
                });
            return false
        }

        document.getElementById("add_review_btn").onclick = addReview

        function displayNotification(message) {
            const notificationMessage = document.getElementById('notificationMessage');
            notificationMessage.textContent = message;
            $('#notificationModal').modal('show');
        }
    
    // function addReviewForms() {
    //     const bookId = document.getElementById('reviewModalBookId').value;
    //     const data = new FormData(document.querySelector('#start-review'));
    //     data.append('book_id', bookId); 

    //     fetch("{% url 'reviews:add_review_form' %}", {
    //             method: "POST",
    //             body: data
    //         }).then(refreshBookCards)

    //         document.getElementById("start-review").reset()
    //         return false
    //     }

    //     document.getElementById("start-review").onclick = addReviewForms
        

    </script>

{% endblock content %}