{% extends 'base.html' %}

{% block content %}
    <h1>Review as many books as you can!</h1>

    <!-- KATALOG -->
    <div id="book_card"></div>



    <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>

    <script>
         async function getBooks() {
            return fetch("{% url 'reviews:get_books_json' %}").then((res) => res.json())
        }

        async function refreshProductsCards() {
            document.getElementById("book_card").innerHTML = ""
            const books = await getBooks()
            let htmlString = ` <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">`
            books.forEach((book) => {
                htmlString += `
                <div class="col mb-3 ml-7">
                    <div class="shadow mb-3 bg-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">${book.fields.title}</h5>
                            <p class="card-text">${book.fields.author}</p>
                            <p class="btn bg-primary">${book.fields.year}</p>

                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal">Review this Book</button>

                            <div class="card-footer">
                                <small class="text-muted">ISBN ${book.fields.ISBN}</small>
                        </div>
                    </div>
                    </div>
                </div>
            ` 
            })
            htmlString += `</div>`
            
            document.getElementById("book_card").innerHTML = htmlString
        }

    </script>

{% endblock content %}

