#book_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.step-labels {
    display: flex;
    margin-top: 5px;
}

.step-labels span {
    flex: 1;
}